In [1]:
import pandas as pd
import psycopg2
from datetime import date

# ⚠️ adapte ces valeurs
conn = psycopg2.connect(
    host="localhost",
    port=5432,
    dbname="silver",
    user="postgres",
    password="postgres",
)

# 1) Voir les dates présentes
df_dates = pd.read_sql(
    """
    SELECT DATE(timestamp) AS day, COUNT(*) AS n_rows,
           SUM(predicted_production_kwh) AS kwh_day
    FROM predicted_solar_production
    GROUP BY DATE(timestamp)
    ORDER BY day;
    """,
    conn,
)
df_dates

C:\Users\hamza\AppData\Local\Temp\ipykernel_31336\1388756424.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_dates = pd.read_sql(

          day  n_rows      kwh_day
0  2025-11-13      10   300.422562
1  2025-11-14      24  2976.396678
2  2025-11-15      24  2666.407310
3  2025-11-16      24  1855.421229
4  2025-11-17      24  2647.125344
5  2025-11-18      24  1918.813966
6  2025-11-19      24  2757.885726